django 
djangorestframework 
django-cors-headers 
djangorestframework-simplejwt 
fastapi 
uvicorn 
websockets 
wsproto 
telethon 
psycopg2-binary
Update 2024-07-08T01:20:15 

Update 2024-10-11T23:11:56 

Update 2024-10-30T16:54:30 
